################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/project-euler/v15/Server/sqlite3
/C#/Project Euler/.vs/Project Euler/v15/Server/sqlite3
